dist/381.off
dist/81.off
dist/cube-2shells.gmv
dist/cylinders.gmv
dist/dustbin.gmv
dist/edgeconnectedcubes.gmv
dist/file_dopo.ia
dist/file_dopo2.ia
dist/IAstar
dist/libIAstar.1.0.0.dylib
dist/libIAstar.1.0.dylib
dist/libIAstar.1.dylib
dist/libIAstar.dylib
dist/mangrove.off
dist/minuscolo.gmv
dist/prove.off
dist/prove2.off
dist/prove3.off
dist/syringe.gmv
dist/tower-full.gmv
dist/umbrella-twoshells.gmv
